name: Update Flake

on:
  schedule:
    # every day at 8am UTC
    - cron: "0 5 * * *"
  workflow_dispatch:

jobs:
  update-dependencies:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v18
        with:
          install_url: https://github.com/numtide/nix-unstable-installer/releases/download/nix-2.9.0pre20220428_660835d/install
          extra_nix_config: |
            experimental-features = nix-command flakes
      - run: nix flake update
      - uses: cachix/cachix-action@v12
        with:
          name: polarmutex
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      #- name: Create Pull Request
      #  uses: peter-evans/create-pull-request@v3
      #  with:
      #    token: "${{ secrets.GITHUB_TOKEN }}"
      #    commit-message: "[automation] update flake dependencies"
      #    title: "[automation] update flake dependencies"
      #    branch: "automation/update-flake-dependencies"
      - uses: stefanzweifel/git-auto-commit-action@v4.16.0
        with:
          commit_message: "chore(flake): update flake dependencies"
